<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-Finger-Tippsystem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Willkommen zum 10-Finger-Tippsystem</h1>

    <h2>Wähle einen Text aus:</h2>
    <select id="text-selection">
        <option value="">--Wähle einen Text--</option>
    </select>
    <button onclick="loadSelectedText()">Text Laden</button>

    <div class="text">
        <p id="text-to-type"></p>  <!-- Der ausgewählte Text wird hier angezeigt -->
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
